
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.time {
  text-align: center;
  background-color: v.$secondary-color;
  padding: 20px;
  border-radius: 8px;
  @include m.box-shadow(v.$highlight-color);

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    color: v.$primary-color;
    margin-bottom: 15px;
  }

  .time-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;

    button {
      padding: 8px 15px;
      font-size: 14px;
      background-color: v.$highlight-color;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: v.$highlight-color-light;
      }
    }
  }

  .start-timer {
    padding: 10px 20px;
    font-size: 16px;
    background-color: v.$primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: v.$primary-color-light
    }
  }
}
